<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Online Assessment</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicon -->
	<link href="img/favicon.ico" rel="icon">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap"
		rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link href="lib/animate/animate.min.css" rel="stylesheet">
	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

	<!-- Customized Bootstrap Stylesheet -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div class="container-xxl bg-white p-0">
		<!-- Spinner Start -->
		<!-- Spinner End -->


		<!-- Navbar Start -->
		<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
			<a href="index.html" class="navbar-brand">
				<h1 class="m-0 text-primary"><i class="fa fa-book-reader me-3"></i>Online Assessment</h1>
			</a>
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav mx-auto">
					<a th:href="@{/instructorhome}" class="nav-item nav-link">Home</a>
					<a th:href="@{/subject}" class="nav-item nav-link active">Question Bank</a>
					<a th:href="@{/studentsList}" class="nav-item nav-link">Performace</a>
					<!--                    <a href="" class="nav-item nav-link" th:text="${session.username}"></a>-->
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Quiz</a>
						<div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
							<a th:href="@{/addQuiz}" class="dropdown-item">Create Quiz</a>
							<a th:href="@{/quiz_List}" class="dropdown-item">Quiz List</a>
						</div>
					</div>
				</div>
				<a th:href="@{/logout}" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">Logout<i
						class="fa fa-arrow-right ms-3"></i></a>
			</div>
		</nav>
		<div class="container my-2">
			<!--	<h1>Question Bank</h1>-->

			<a th:href="@{/addQuestion}" class="btn btn-primary btn-sm mb-3"> Add Question </a>
			<table border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Question</th>
						<th>Options</th>
						<th>Correct Answer</th>
						<th>Difficulty Level</th>
						<th> Score </th>
						<th>Update</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="question : ${questionsList}">
						<td th:text="${question.questionTitle}"></td>
						<td>
							<p th:text="${question.option1}"></p>
							<p th:text="${question.option2}"></p>
							<p th:text="${question.option3}"></p>
							<p th:text="${question.option4}"></p>
						</td>
						<td th:text="${question.correctAnswer}"></td>
						<td th:text="${question.difficultyLevel}"></td>
						<td th:text="${question.score}"></td>
						<td><a th:href="@{/updateQuestion/{id}(id=${question.questionId})}"
								class="btn btn-success">Update</a></td>
						<td><a th:href="@{/deleteQuestion/{id}(id=${question.questionId})}"
								class="btn btn-danger">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		</section>

		<!--<div  th:replace="~{fragments/footer :: footer}"> </div>-->

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/Headroom.js"></script>
		<script src="js/jQuery.headroom.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/custom.js"></script>

</body>

</html>